@(rtData: RottenTomatoData, userData: UserData)
    @if(rtData != null) {
        @helper.form(action = routes.MovieController.add()) {
            <p>Title: @rtData.title</p>
            <p>UserRating: @userData.rating</p>
            <p>RTRating: @rtData.rating</p>
            <p>NewUserRating:<input type="text" name="newUserRating" /></p>
            <button>Add</button>
        }
    }
    @if(rtData == null) {
        @helper.form(action = routes.MovieController.add()) {
            <p>Title: @userData.title</p>
            <p>UserRating: @userData.rating</p>
            <p>RTRating: -1</p>
            <p>NewUserRating:<input type="text" name="newUserRating" /></p>
            <button>Add</button>
        }
    }
