@(error: String, bottomFive: List[Movie], topFive: List[Movie], stats: Statistics)
@if(error != null){
    <p>@error</p>
}

@helper.form(action = routes.ConfirmController.index()) {
    <p>title:<input type="text" name="title" /></p>
    <p>rating:<input type="text" name="rating" /></p>
    <p>synopsis:<input type="text" name="synopsis" /></p>
    <button>Add</button>
}

<p>BottomFive</p>
<ul>
@helper.form(action = routes.MovieController.index(false), 'method -> "post") {
    @for(movie <- bottomFive) {
        <p><button type="submit" name="userTitle" value="@movie.userTitle">@movie.userTitle
            rt:@movie.rtRating user:@movie.userRating</button>
        </p>
    }
}
</ul>
<p>TopFive</p>
<ul>
@helper.form(action = routes.MovieController.index(true), 'method -> "post") {
    @for(movie <- topFive) {
        <p><button type="submit" name="userTitle" value="@movie.userTitle">@movie.userTitle
            rt:@movie.rtRating user:@movie.userRating</button>
        </p>
    }
}
</ul>

<p>Statistics</p>
    <ul>
        <li>movies rated by user: @stats.userRatingCount</li>
        <li>movies found on rt: @stats.rtRatingCount</li>
        <li>avg user rating: @(stats.userRatingAvg)</li>
        <li>avg rt rating: @(stats.rtRatingAvg)</li>
        <li>hit rate: @stats.hitRate</li>
    </ul>
