@(movie: Movie)

<p>title: @(movie.userTitle)</p>
<p>userRating: @(movie.userRating)</p>
<p>userSynopsis: @movie.userSynopsis</p>
<p>rtRating: @(movie.rtRating)</p>
<p>rtSynopsis: @movie.rtSynopsis</p>
<p>date: @movie.date</p>

